@import './variables.less';

:root {
  // antd
  --screen-xs: @screen-xs; // Phone
  --screen-sm: @screen-sm; // Pda P
  --screen-md: @screen-md; // Pad L
  --screen-lg: @screen-lg; // PC
  --screen-xl: @screen-xl; // -
  --screen-xxl: @screen-xxl; // -

  // project
  --container-ext-width: @container-ext-width;

  --page-body-bg-color: @page-body-bg-color;
  --page-card-padding-x: @page-card-padding-x;
  --page-border-radius: @page-border-radius;
  //
  --layout-padding-x: @layout-padding-x;
  --layout-main-bg-color: @layout-main-bg-color;
  --layout-sidebar-bg-color: @layout-sidebar-bg-color;
  --layout-sidebar-width--pc: @layout-sidebar-width--pc;
  --layout-sidebar-width--mb: @layout-sidebar-width--mb;

  // comp
  --comp-submit-toolbar-bg-color: @comp-submit-toolbar-bg-color;
}

.rcicon {
  line-height: 1;
  display: inline-block;
  vertical-align: -3px;
  //vertical-align: middle;
  font-size: 16px;
}

// history check media (PC or MB)
//body {
//  &:after {
//    display: none;
//    content: 'xs';
//
//    @media (min-width: @screen-md) {
//      content: 'md';
//    }
//  }
//}

.g-input-number {
  width: 100% !important;
}

.g-col-number {
  font-weight: 500;
  font-family: @number-family;
}

// antd
html {
  //
  //
  //
  // message
  .ant-message-notice-content {
    @padding-x: 20px;

    padding-left: @padding-x;
    padding-right: @padding-x;
    //border-radius: var(--page-border-radius);
  }

  //
  //
  //
  // menu
  .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title,
  .ant-menu-submenu-inline > .ant-menu-submenu-title {
    .ant-menu-submenu-arrow {
      &:after,
      &:before {
        opacity: 0.6;
        width: 7px;
        height: 1px;
      }
    }
  }

  .ant-menu-submenu-inline > .ant-menu-submenu-title {
    .ant-menu-submenu-arrow {
      &:after {
        transform: rotate(45deg) translateX(-3px);
      }

      &:before {
        transform: rotate(-45deg) translateX(3px);
      }
    }
  }

  .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title {
    .ant-menu-submenu-arrow {
      &:after {
        transform: rotate(-45deg) translateX(-3px);
      }

      &:before {
        transform: rotate(45deg) translateX(3px);
      }
    }
  }

  //
  //
  //
  // table
  .ant-table-thead {
    th.ant-table-column-has-sorters {
      &:hover {
        background-color: #f4f7ff;
      }
    }
  }

  td.ant-table-column-sort {
    background-color: var(--layout-main-bg-color);
  }

  .ant-table-tbody {
    & > tr.ant-table-row-selected > td {
      background-color: darken(@layout-main-bg-color, 4%);
    }

    & > tr.ant-table-row:hover > td {
      background-color: var(--layout-main-bg-color);
    }
  }

  td.ant-table-cell.ant-table-cell-fix-right {
    background-color: #fffa;
  }

  //
  //
  //
  // checkbox (radius-status)
  .ant-checkbox-indeterminate {
    .ant-checkbox-inner::after {
      border-radius: var(--page-border-radius);
    }
  }
}
