@import './variables.less';

body {
  &:after {
    display: none;
    content: 'xs';

    @media (min-width: @screen-md) {
      content: 'md';
    }
  }
}

.g-input-number {
  width: 100% !important;
}

.g-col-number {
  font-weight: 500;
  font-family: @number-family;
}

// antd
.ant-message-notice-content {
  @padding-x: 20px;

  padding-left: @padding-x;
  padding-right: @padding-x;
  border-radius: 200px !important;
}
