@import './variables.less';

:global {
  body {
    &:after {
      display: none;
      content: 'xs';

      @media (min-width: @screen-md) {
        content: 'md';
      }
    }
  }

  .g-form--zero-margin-bottom {
    background-color: transparent;

    & > .ant-row:last-child {
      margin-bottom: 0;

      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }

  .g-form--zero-margin {
    background-color: transparent;

    & > .ant-row {
      margin-bottom: 0;

      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
}
