@import '~@leaa/dashboard/src/styles/variables.less';

.full-layout-header {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  line-height: 1;
  height: auto;
  padding: 8px 16px;
}

.header-nav {
}
