# OS
*~
.DS_Store

# Compiled
/dist
/.dist
/_dist
node_modules
docker_data
_docker_data
.docker
tsconfig.tsbuildinfo

/.nowignore

# Logs
logs
*.log
.env*
!.env.example

# Test
/coverage
.nyc_output

# IDEs
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.now
