{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": "*.(md|html|ejs)",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
