@import '~antd/lib/style/themes/default.less';
//
// PROJECT
// ------------------------------------------
@page-card-padding-x: 16px;
//@page-layout-bg-color: #f9f9f9;
//@page-layout-bg-color: #f0f4fa;
@page-layout-bg-color: #f6f7f9;
@page-min-height: 300px;

//
// ANTD
// ------------------------------------------
//
// Iconfont
@iconfont-css-prefix: anticon;
@font-family: 'Chinese Quote', 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
@code-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
@price-family: 'Avenir Next', 'Avenir', 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
@number-family: 'Avenir Next', 'Avenir', 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Helvetica, Arial, sans-serif;

@border-radius-base: 3px;
@border-radius-sm: 1px;

// Colors
@primary-color: #6a3cff;
@secondary-color: #1f8a85;
@info-color: #1890ff;
@success-color: #52c41a;
@processing-color: #1890ff;
@error-color: #f5222d;
@highlight-color: #f5222d;
@warning-color: #faad14;
@normal-color: #d9d9d9;

// Text
@text-color: #333;

// Breakpoints
//@screen-xs: 480px;
//@screen-sm: 576px;
//@screen-md: 768px;
//@screen-lg: 992px;
//@screen-xl: 1200px;
//@screen-xxl: 1600px;

@screen-xs: 480px; // Phone
@screen-sm: 576px; // Pda P
@screen-md: 768px; // Pad L
@screen-lg: 960px; // PC
@screen-xl: 1200px; // -
@screen-xxl: 1600px; // -
