@import '~@leaa/dashboard/src/styles/variables.less';

.sidebar-target-wrapper {
  transition: all 0.2s;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding: 19px 8px;
  height: auto;
  width: auto;

  @media (min-width: @screen-md) {
    display: none;
  }

  color: #777 !important;
  opacity: 0.7;
  display: inline-block;

  svg {
    font-size: 180%;
    display: block;
  }

  &:hover {
    opacity: 1;
  }
}

.sidebar-target-wrapper--collapsed {
  color: #999 !important;
}
