@import '~@leaa/dashboard/src/styles/variables.less';

.wrapper {
}

.form-wrapper {
}

.form-row {
}


.check-all {
  display: block;
  margin-bottom: 10px;
}

.permission-key-group {
  margin-bottom: 30px;
  margin-top: 10px;

  h3 {
    margin: 0;
    padding: 0;
  }
}

.permission-group {
  margin: 10px 0;
}
