@import '~@leaa/dashboard/src/styles/variables.less';

.wrapper {
  position: relative;
}

.full-layout-sidebar-wrapper {
  transition: all 0.2s;
  position: relative;
  //height: 100vh;
}

.full-layout-sidebar {
  transition: all 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}

.logo-wrapper {
  cursor: pointer;
  display: table;
  margin: 0;
  margin-top: 10px;
  padding: 15px 25px;

  @media (min-width: @screen-md) {
    margin: 0 auto;
    padding: 25px 0 15px 0;
  }

  .logo-image {
    @w: 28px;
    width: @w;
    height: @w;

    @media (min-width: @screen-md) {
      @w: 40px;
      width: @w;
      height: @w;
    }
  }
}

.menu-wrapper {
  background-color: transparent !important;

  li {
    padding: 0;
  }

  :global {
    svg.rcicon {
      margin-right: 8px;
    }

    .ant-menu-item {
      padding-left: 24px;
    }

    .ant-menu-submenu {
      .ant-menu-item {
        padding-left: 46px;
      }
    }
  }
}

.nav-text {
  em {
    font-size: 14px;
    font-style: normal;
  }
}

.can-create-button {
  position: absolute;
  right: 6px;
  top: 0;
  opacity: 0.4;
  transition: all 0.4s;

  &:hover {
    opacity: 1;
  }
}

// mb menu
.drawer-wrapper {
  :global {
    .ant-drawer-content-wrapper {
      width: @layout-sidebar-width--pc !important;
    }

    .ant-drawer-close {
      opacity: 0.1;
      top: -12px;
      right: -12px;
      font-size: 12px;
    }

    .ant-drawer-body {
      overflow: hidden;
      //padding: 0;
    }
  }
}

.drawer-button {
  position: absolute;
  color: #555;
  top: 3px;
  left: 0;
}

// pc menu
.target-button-wrapper {
  transition: all 0.2s;
  z-index: 2;
  position: absolute;
  top: 8px;
  left: 4px;

  @media (min-width: @screen-md) {
    display: none;
  }
}

:global {
  .g-full-layout-wrapper--mb {
    @sidebar-color-mb: #f5f5f5;

    .g-full-layout-breadcrumb {
      margin-left: 45px;
    }

    .g-full-layout-sidebar-wrapper {
      background: @sidebar-color-mb;

      .ant-menu-inline {
        border: none 0;
      }

      .ant-layout-sider {
        background: transparent;
      }

      .ant-menu-item-selected {
        background-color: @sidebar-color-mb !important;
      }

      .ant-menu {
        overflow: hidden !important;
      }
    }
  }

  .g-full-layout-wrapper--pc {
    @sidebar-color-pc: @primary-color;

    .g-full-layout-sidebar-wrapper {
      background: shade(@sidebar-color-pc, 90%);
      background: linear-gradient(shade(@sidebar-color-pc, 83%), shade(@sidebar-color-pc, 93%));

      .ant-menu-dark .ant-menu-inline.ant-menu-sub {
        background: transparent;
      }

      .ant-layout-sider {
        //background: transparent;
      }

      .ant-menu-item-selected {
        background-color: shade(@sidebar-color-pc, 50%) !important;
      }
    }
  }
}
