@import '~@leaa/dashboard/src/styles/variables.less';

.wrapper {
  position: relative;
}

.full-layout-sidebar-wrapper {
  transition: all 0.2s;
  position: relative;
  //height: 100vh;
}

.full-layout-sidebar {
  transition: all 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;

  flex: 0 0 var(--layout-sidebar-width--pc) !important;
  max-width: var(--layout-sidebar-width--pc) !important;
  min-width: var(--layout-sidebar-width--pc) !important;
  width: var(--layout-sidebar-width--pc) !important;
  //background-color: #fff;
  //box-shadow: 0 0 14px 4px #ececec;
  //background-color: #f0f;
}

:global {
  .ant-layout-sider {
    background: var(--layout-sidebar-bg-color);
  }

  .ant-menu {
    background: transparent !important;

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: transparent;
    }

    .ant-menu-submenu {
      a {
        &:hover {
          color: @primary-color;
        }
      }
    }

    .ant-menu-item-selected {
      a {
        color: @primary-color;
      }
    }
  }
}

.switch-language {
  position: absolute;
  top: 8px;
  left: 10px;
}

.user-menu {
  z-index: 999999;
  position: fixed;
  padding: 20px 0;
  bottom: 0;
  width: var(--layout-sidebar-width--pc) !important;
  background-color: #fffe;

  :global {
    .g-usermenu-wrapper {
      display: table;
      margin: 0 auto;
    }
  }
}

.logo-wrapper {
  cursor: pointer;
  display: table;
  margin: 0 auto;
  padding: 40px 0 10px 0;

  .logo-image {
    @w: 28px;
    width: @w;
    height: @w;

    @media (min-width: @screen-md) {
      @w: 40px;
      width: @w;
      height: @w;
    }
  }
}

ul.menu-wrapper {
  padding: 16px;
  border: none 0;
  margin: 0;

  @item-level-1-height: 54px;
  @item-level-2-height: 42px;

  // level 1
  & > li {
    :global {
      .ant-menu-submenu-title {
        height: @item-level-1-height !important;
        line-height: @item-level-1-height !important;
      }
    }

    &.sidebar-menu-item {
      height: @item-level-1-height !important;
      line-height: @item-level-1-height !important;
    }

    em {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      margin-left: 14px;
    }

    i {
      display: inline-block;

      svg {
        font-size: 28px;
        vertical-align: -7px;
      }
    }

    // level 2
    li.sidebar-menu-item {
      height: @item-level-2-height !important;
      line-height: @item-level-2-height !important;

      em {
        font-size: 16px;
        font-weight: normal;
        margin-left: 20px;
      }
    }
  }
}

.sidebar-menu-item-group {
}

.sidebar-menu-item {
  .can-create-button {
    display: none;
    position: absolute;
    right: 14px;
    top: 0;
    opacity: 0.5;
    transition: all 0.4s;

    &:hover {
      transition: all 0.4s;
      opacity: 1;
    }
  }
}

//
//
//
//

// mb menu
.drawer-wrapper {
  :global {
    .ant-drawer-content-wrapper {
      width: var(--layout-sidebar-width--pc) !important;
    }

    .ant-drawer-close {
      opacity: 0.1;
      top: -12px;
      right: -12px;
      font-size: 12px;
    }

    .ant-drawer-body {
      overflow: hidden;
      //padding: 0;
    }
  }
}

.drawer-button {
  position: absolute;
  color: #555;
  top: 3px;
  left: 0;
}

// pc menu
.target-button-wrapper {
  transition: all 0.2s;
  z-index: 2;
  position: absolute;
  top: 8px;
  left: 4px;

  @media (min-width: @screen-md) {
    display: none;
  }
}
