@import '~@leaa/miniprogram/src/styles/variables.less';

.wrapper {
  margin: 0 20px;
}

.item {
  display: block;
  margin-bottom: 30px;
}

.title {
  margin: 5px 0;
}

.title-text {
  font-size: 1em;
  color: @primary-color;
}

.created-at {
  margin: 1px 0;
  line-height: 1;
}

.created-at-text {
  color: #aaa;
  font-size: 0.6em;
}
