@import '~@leaa/miniprogram/src/styles/variables.less';

.wrapper {
  margin: 0 20px;
}

.item {
  display: block;
  padding: 30px 0;
}

.item-link {
  display: block;
}

.item-title {
  margin: 5px 0;
}

.item-title-text {
  font-size: 115%;
  color: @primary-color;
}

.item-date {
  margin: 0;
  line-height: 1;
}

.item-date-text {
  font-size: 70%;
  color: #aaa;
}
