@import '~@leaa/dashboard/src/styles/variables.less';

.setting-list-form-wrapper {
  position: relative;
}

.form-row {
}

.form-item {
}

.label-text,
.label-fn {
  transition: all 0.3s;
  font-style: normal;
}

.label-text {
}

.label-fn {
}

.label-button {
  color: #111;

  svg,
  span {
    margin-left: 5px;
    transition: all 0.3s;
    opacity: 0.1;
  }

  &:hover,
  &:focus,
  &:active {
    color: #111;
  }

  &:hover {
    svg,
    span {
      color: @primary-color;
      transition: all 0.3s;
      opacity: 1;
    }
  }
}

.private-icon {
  opacity: 1 !important;
  color: #111 !important;
  vertical-align: -1px;
  margin-right: 5px;
  font-weight: 400;
}

.label-box {
  line-height: 1;
  margin-top: -9px;

  code {
    display: block;
    margin-top: -1px;
    font-size: 12px;
    padding-right: 42px;
    transform: scale(0.7);
    transform-origin: right center;
    color: #ddd;
  }
}

.form-wrapper {
  background-color: transparent;
  padding: 20px 0;

  :global {
    .ant-form-item {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .ant-form-item-label > label.ant-form-item-no-colon::after {
      display: none;
    }
  }
}
