@import '~@leaa/dashboard/src/styles/variables.less';

:global {
  .ant-form-item {
    margin-bottom: 10px !important;
  }
}

.wrapper {
}

.form-row {
}

.form-wrapper {
  background-color: transparent;
}

.form-item {
  //display: block !important;
}

.label-text,
.label-fn {
  transition: all 0.1s;
  font-style: normal;
}

.label-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  margin-right: 3px;
  opacity: 0;
  transition: all 0.3s;
  color: @primary-color;
  font-size: 120%;
}

.private-icon {
  vertical-align: -1px;
  margin-right: 3px;
  font-weight: 400;
}

.label-button {
  color: #000;

  &:hover {
    .label-icon {
      transition: all 0.1s;
      opacity: 1;
    }

    .label-text {
      color: #000;
      transition: all 0.1s;
      opacity: 0.3;
    }
  }
}

.label-text {
}

.label-fn {
}
