@import '~@leaa/dashboard/src/styles/variables.less';

.icon {
  display: inline-block !important;
  text-rendering: optimizeLegibility;

  svg {
    vertical-align: -0.08em;
    font-size: 125%; // simulator antd icon size
  }
}
