@import '~@leaa/dashboard/src/styles/variables.less';

.custom-icon {
  //display: inline-block !important;
  display: inline-block;

  svg {
    vertical-align: -0.08em;
    text-rendering: optimizeLegibility;
    font-size: 113%; // simulator antd icon size
  }
}
