@import '~@leaa/dashboard/src/styles/variables.less';

.search-input-wrapper {
  position: relative;

  .search-input-inner {
  }

  :global {
    .ant-input-affix-wrapper {
      width: 100%;

      @media (min-width: @screen-md) {
        width: 160px;
      }
    }

    .ant-input-prefix {
      svg {
        font-size: 130%;
        color: #ccc;
      }
    }
  }
}
