@import '~@leaa/dashboard/src/styles/variables.less';

.submit-bar-wrapper {
  position: relative;
}

.submit-bar-container {
  position: relative;

  :global {
    .g-submit-bar-button {
      padding: 0 28px;

      .rcicon {
        margin-right: 8px;
      }
    }
  }
}

.submit-bar-wrapper--full {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 99;

  @media (min-width: @screen-md) {
    left: var(--layout-sidebar-width--pc);
  }

  .submit-bar-container {
    background-color: #fffc;
    //padding: 15px;
    border-radius: 90px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;

    @media (min-width: @screen-md) {
      width: 400px;
    }
  }
}

//:global {
//  .g-full-layout-wrapper--mb {
//    .g-submit-bar-wrapper--full {
//      margin-left: 0;
//    }
//  }
//
//  .g-full-layout-wrapper--pc {
//    .g-submit-bar-wrapper--full {
//      margin-left: var(--layout-sidebar-width--pc);
//    }
//  }
//
//  .siderbar-collapsed {
//    :local {
//      .submit-bar-wrapper--full {
//        margin-left: 0;
//        transition: all 0.3s;
//      }
//    }
//  }
//}
