@import '~@leaa/dashboard/src/styles/variables.less';

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  justify-content: center;
  width: 85%;
}

.menu-title {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;

  strong {
    font-weight: 400;
    margin-left: 10px;
  }
}

.error-info {
  margin-top: 20px;
  font-family: @code-family;
  font-size: 80%;
  display: block;
  width: 100%;

  code {
    font-family: @code-family;
  }
}
