@import '~@leaa/dashboard/src/styles/variables.less';

@error-primary-color: #d2ff2b;

.error-boundary-wrapper {
  background: #23241f;
}

.error-boundary-header,
.error-boundary-body {
  padding: 20px;
}

.error-boundary-header {
  padding: 20px;
  border-bottom: 1px solid @error-primary-color;
}

.error-boundary-header__title {
  font-size: 250%;
  color: @error-primary-color;
}

.error-boundary-header__button {
  button {
    margin-left: 20px;
  }
}

.error-boundary-body {
  pre {
    color: #bdbdbd;
    font-family: @code-family;
  }
}
