@import '~@leaa/dashboard/src/styles/variables.less';

.usermenu-wrapper {
  position: relative;
  margin-right: 2px;
  margin-left: 5px;
}

.usermenu-box {
  width: 250px;
  margin: -12px;

  .header,
  .container {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
  }

  .header {
    a {
      color: @text-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .container {
  }

  .footer {
    padding: 5px 0;

    .logout-button {
      font-size: 95%;
      border: 0;
      box-shadow: none;
    }
  }
}

.usermenu-button {
  border: 0;
  box-shadow: none;
  padding: 0;
  height: 40px;
  line-height: 40px;
}

@usermenu-name-color: @text-color;

.usermenu-name {
  padding-left: 10px;
  color: @usermenu-name-color;
  transition: all 0.3s;
  display: none !important;
  font-weight: 600;
  font-size: 16px;

  @media (min-width: @screen-md) {
    display: inline-block !important;
  }
}

.usermenu-avatar {
  background: #f5f5f5;
}

.safely-logout-button {
  //top: 1px;
  position: relative;
  margin-left: 5px;
}

.usermenu-wrapper {
  &:hover {
    .usermenu-name {
      transition: all 0.3s;
      color: @text-color;
    }
  }
}
