@import '~@leaa/dashboard/src/styles/variables.less';

.wapper {
  background-color: transparent;
}

.extra-wrapper {
  display: flex;
  align-items: center;
}

.redeem-button {
  margin-right: 15px;
  font-size: 90%;
  color: #777;

  span {
    margin-left: 5px !important;
  }
}
