@import '~@leaa/dashboard/src/styles/variables.less';

:global {
  .g-page-card-create-button {
    background-color: transparent;
    border-color: @primary-color;
    color: @primary-color;
    ////padding: 15px;
    //height: 34px;

    svg {
      line-height: 0;
      font-size: 160%;
      vertical-align: -2px;
    }

    span {
      line-height: 0;
      vertical-align: 5px;
      padding: 0 8px;
      font-size: 110%;
    }

    &:hover {
      background-color: @primary-color;
      color: #fff;
    }
  }
}

.page-card-wrapper {
  //min-height: 300px;
  transition: all 0.3s;
  //padding-bottom: 75px;

  :global {
    .ant-card {
      margin-bottom: 20px;

      .ant-card-head {
        min-height: 42px;
      }

      .ant-card-head-title {
        padding: 10px 0;
      }
    }
  }
}

.header {
  background: transparent;
  //margin: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 14px;
  min-height: 32px;

  @media (min-width: @screen-md) {
    justify-content: space-between;
    display: flex;
    margin-bottom: 28px;
  }

  .title {
    margin: 0;
    padding: 0 0 0 2px;
    color: #26254b;

    :global {
      span {
        strong {
          font-size: 30px;
        }
      }
    }
  }

  .page-card-create-link {
    margin-left: 20px;
    //background-color: #ff0;
    //border: 1px solid @primary-color;
  }

  .page-card-create-button {
    // @see .g-page-card-create-button
  }

  .extra {
    //font-size: 140%;
    margin: 0;
    padding: 0 0 0 3px;
    display: flex;
    justify-content: flex-end;

    :global {
      .g-page-card-extra-filter-bar-wrapper {
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
      }

      .g-extra-filter-bar--item {
        margin-left: 8px;
        width: auto;
      }

      .g-extra-filter-bar--q {
        width: 150px;
      }
    }
  }
}

.title-wrapper {
  margin-left: 40px;
}

.page-card-wrapper--complex {
  .header {
    display: block;

    @media (min-width: @screen-md) {
      display: flex;
      justify-content: space-between;
    }

    .extra {
      display: block;
      justify-content: start;
      margin-top: 10px;

      @media (min-width: @screen-md) {
        margin-top: 0;
      }
    }
  }
}

.container {
  display: contents;
  position: relative;
  background: transparent;
  margin-bottom: 80px;
}

.spin {
  //background-color: #fff;
  opacity: 1;
}
