@import '~@leaa/dashboard/src/styles/variables.less';

.wrapper {
  //min-height: 300px;
  transition: all 0.3s;
  padding-bottom: 30px;

  :global {
    .ant-table {
      background: #fff;
    }

    .ant-card {
      margin-bottom: 20px;

      .ant-card-head {
        min-height: 42px;
      }

      .ant-card-head-title {
        padding: 10px 0;
      }
    }
  }
}

.header {
  background: transparent;
  margin: 0 0 12px 0;
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 140%;
    margin: 0;
    padding: 0 0 0 2px;
    color: #333;
    opacity: 0.9;

    :global {
      .anticon {
        display: none;
        font-weight: 400;
        margin-right: 8px;
      }

      span {
        strong {
          font-weight: 500;
          vertical-align: -1px;
        }
      }
    }

    :global {
      .page-card-create-link {
        display: inline-block;
        margin-left: 10px;
        color: #aaa;

        &:hover {
          color: @primary-color;
        }

        .anticon {
          display: inline-block;
          font-size: 100%;
          vertical-align: -2px;
        }
      }

      .page-card-create-button {
        font-size: 110%;
        vertical-align: -1px;
        color: #bbb;
      }
    }
  }

  .extra {
    //font-size: 140%;
    margin: 0;
    padding: 0 0 0 3px;
  }
}

.container {
  background: transparent;
  margin-bottom: 50px;
}

.spin {
  //background-color: #fff;
  opacity: 1;
}
