@import '~@leaa/dashboard/src/styles/variables.less';

.wrapper {
}

.form-row {
}

.form-wrapper {
}

.redeem-popconfirm-container {
  //width: 500px;

  .title {
    margin: 0;
    padding: 0;
  }

  .content {
    margin-top: 5px;
    display: flex;
  }
}

.normal-status {
  padding: 0 5px;
}

.redeem-popconfirm {
  :global {
    .ant-popover-message {
      margin: 0;
      padding: 10px;

      .ant-popover-message-title {
        padding-left: 0;
      }
    }

    .ant-popover-buttons {
      display: none;
    }
  }
}

.redeem-button {
  span {
    margin-left: 4px !important;
    font-size: 80%;
  }
}

.submit-redeem-button {
  margin-left: 10px;
}
