@import '~@leaa/dashboard/src/styles/variables.less';

.login-form-wrapper {
  position: relative;
}

//@element-hegith: 45px;

.form-row {
  margin-bottom: 25px;
  //input {
  //  height: @element-hegith;
  //}
}

.form-input {
  padding: 8px 15px;
}

.captcha-image {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  right: 1px;
  top: 3px;

  &:hover {
  }

  svg {
    height: 30px;
  }
}

.remember-row {
  margin: 10px 0 25px 0;
}
