@import '~@leaa/dashboard/src/styles/variables.less';
@import '~@leaa/dashboard/src/styles/mixin.less';

.submit-toolbar-wrapper {
  // if antd `Affix` is used, this can be very simple.
  padding: 20px 0;

  //position: relative;
  //position: fixed;
  //bottom: 0;
  //left: 0;
  //right: 0;
  //z-index: 99;
  //
  //@media (min-width: @screen-md) {
  //  margin-left: var(--layout-sidebar-width--pc);
  //}
}

.submit-toolbar-container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  width: 90%;
  padding: 10px;
  justify-content: space-around;
  margin: 0 auto;
  .g-box-shadow();

  @media (min-width: @screen-md) {
    width: 60%;
  }
}

.submit-toolbar-buttonGroup,
.submit-toolbar-moreGroup {
  button {
    height: 56px;
    line-height: 0;
    border-radius: 12px;
    width: 100%;

    &:focus,
    &:hover {
      background-color: darken(@comp-submit-toolbar-bg-color, 1%);
    }
  }
}

.submit-toolbar-buttonGroup {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;

  button {
    height: 58px;
    line-height: 0;
    border-radius: 12px;
    width: 100%;

    svg {
      font-size: 22px !important;
      margin-right: 5px;
    }

    span {
      font-size: 16px;
      //margin-top: 2px;
    }
  }

  .button--create {
    svg {
      vertical-align: -7px !important;
      font-size: 26px !important;
    }
  }

  .button--update {
    svg {
      vertical-align: -5px !important;
    }
  }
}

.submit-toolbar-moreGroup {
  width: 50px;
  margin-left: 5px;

  button {
    height: 56px;
    line-height: 0;
    border-radius: 12px;
    width: 100%;

    svg {
      color: #c0c8d2;
      font-size: 28px;
      line-height: 1;
      margin: 0 auto;
      display: block;
    }
  }
}

.submit-toolbar-wrapper--dark {
  .submit-toolbar-container {
    background-color: @primary-color;
  }

  .submit-toolbar-buttonGroup,
  .submit-toolbar-moreGroup {
    button {
      svg,
      span {
        color: #fff;
      }

      &:focus,
      &:hover {
        //color: lighten(@primary-color, 5%);
        background-color: lighten(@primary-color, 8%);
      }
    }
  }
}

.submit-toolbar-wrapper--light {
}

.submit-toolbar-wrapper--notAffix {
  .submit-toolbar-container {
    //position: relative;
    //.g-box-shadow(8px, 0.04);
  }
}
