@import '~@leaa/www/src/styles/variables.less';

.wrapper {
  margin: 40px 0;
}

.full-container {
  background-color: transparent;
}

.container-card {
  @media (min-width: @screen-md) {
    padding-top: 50px;
  }
}

.item {
  margin-bottom: 25px;

  .title {
    font-size: 110%;
    margin: 0;

    .link {
      color: #333;
    }
  }

  .date {
    display: inline-block;
    font-size: 80%;
    color: #999;
  }
}
