@import '~@leaa/dashboard/src/styles/variables.less';

:global {
  .ant-layout {
    background-color: transparent;
  }
}

.full-layout-wrapper {
  position: relative;

  @media (min-width: @screen-md) {
    margin-left: @layout-sidebar-width--pc;
  }
}

.full-layout-inner {
  position: relative;
  min-height: 100vh;
}

.full-layout-container {
  padding: 0 20px;
  margin-bottom: 50px;
}

.full-layout-content {
  position: relative;
  min-height: 500px;
  padding: @layout-padding-x / 2;
  //padding: 10px;
  margin: 0;
  background-color: @layout-main-bg-color;
  padding-bottom: 30px;

  @media (min-width: @screen-md) {
    padding: (@page-card-padding-x / 1.25) @page-card-padding-x;
    padding-bottom: 50px;
    border-radius: 24px 24px 0 0;
    margin: @layout-padding-x @layout-padding-x 0 0;
  }
}
